# external source
external/

*~
*.o
*.o.d
*.elf
*.map
*.lds
*.hex
*.bin

# generated
fs/version
include/kernel/syscalls.h
kernel/syscall.c

# QEMU generated
DAC_OUT_PUT1.txt
DAC_OUT_PUT2.txt

# Python
__pycache__
*.pyc

# Sphinx
_build

